<div>
<h1>Public recipes List</h1>

  <% @public_recipes.each do |pr| %>
    <div>
    <h2><%= pr.name %></h2> by:
    <p><%= pr.user.name %> </p>

    <p>Total food items: <%=  %> </p>
    </div>
    <p>Total prices: <%= pr.user %> </p>
    <% end %>
</div>