<div>
<h1>Public recipes List</h1>

  <% @public_recipes.each do |pr| %>
    <div>
    <p> by:<%= pr.user.name %> </p>

    <p>Total food items: <%= pr.cookingTime  %> </p>
    </div>
    <p>Total prices: <%= pr.preparationTime %> </p>
    <% end %>
</div>